* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-div {
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(109, 179, 109);
  /* display: none; */
}

/* .modal-pop-up{
    display: none;
} */

.modal-pop-up {
  position: absolute;
  top: 0;
}


/* .parent{
  position:relative
}
.box{
  height:100px;
  width:100px;
}

.box1{
  background:red;
  position:absolute
}

.box1:hover + .box2{
  background:blue;
  position:absolute
}
 */

/* --------------- */
.box {
  height: 100vh;

}

.parent2 {
  position: relative;
}

.box3 {
  /* background:red; */
  background: linear-gradient(45deg, #090979, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  padding: 25px;
  background: linear-gradient(45deg, #673AB7, transparent);
  border: 1px solid transparent;
  color: #FFEDBC;
}

.parent3 {
  position: absolute;
  top: 0;
  width: 100%;
}

#box4 {
  display: none;
}

.box {
  /* background:blue; */
  /* background: #0062ff45; */
  background: linear-gradient(45deg, #090979db, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* position:absolute */
}

.close {
  position: absolute;
  top: 1rem;
  right: 15rem;
  transform: translate(50%,63%);
  color: #090979db;
  font-size: 30px;
  cursor: pointer;
}

h1 {
  font-size: 60px;
  color: #FFEDBC;
  border: 2px solid;
  padding: 130px;
}